{% extends "layout.html" %}
{% block body %}

    <div class="row">
        <div class="col-md-3">
            {% if session.logged_in %}
                {{ session.username }}

                <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
                    <dl>
                        <dd><textarea id="compose_tweet" name="tweet" maxlength="140"></textarea>
                        <dd><input class="btn btn-lg btn-primary" type="submit" value="Tweet">
                    </dl>
                </form>
            {% endif %}

            <span class="username">Trending:</span>
            <br>
            {% for hashTag in trending %}
                <a href="/hashtag/{{ hashTag[0] }}">#{{ hashTag[0] }}</a>
                <br>
            {% else %}
                No trends. :(
            {% endfor %}
        </div>
        <div class="col-md-9">
            {% for tweet in tweets %}
                <a href="/tweet/{{ tweet.id }}" style="color: black; text-decoration: none;">
                    <div class="tweet">
                      <span class="username">{{ tweet.user_id }}</span> {{ tweet.time | datetime_format }}
                      <br>
                      {{ tweet.text | inject_hash_tag }}
                    </div>
                </a>
            {% else %}
                No tweets. :(
            {% endfor %}
        </div>
    </div>

{% endblock %}