{% extends "layout.html" %}
{% block body %}
    
    <div class="dialog">

        {% if error %} <p class="error"><strong>Error:</strong> {{ error }} {% endif %}

        <form action="{{ url_for('login') }}" method="post">
            <label>
                Username:
                <input type="text" name="username">
            </label>
            <br>
            <br>
            <label>
                Password:
                <input type="password" name="password">
            </label>
            <input class="btn btn-lg btn-primary" type="submit" value="Sign in">
        </form>
    </div>
{% endblock %}